div[progress-circle-container] {
    --size: 100px;
    --progress-color-bg: lightgray;
    --progress-color: dodgerblue;
    position: relative;
}

    div[progress-circle-container]::after {
        content: attr(progress-circle-text);
        position: absolute;
        top: 0;
        left: 0;
        height: var(--size);
        width: var(--size);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

svg[progress-circle] {
    width: var(--size);
    height: var(--size);
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

    svg[progress-circle] circle {
        fill: transparent;
        stroke-width: 10%;
    }

        svg[progress-circle] circle:first-child {
            stroke: var(--progress-color-bg);
        }

        svg[progress-circle] circle:last-child {
            stroke: var(--progress-color);
            stroke-dasharray: calc(var(--math-pi) * var(--progress-circle-value, 0%) * 0.8), 500%;
            transition: stroke-dasharray 1s linear;
        }
