@inherits LayoutComponentBase

<div class="vstack full-height">
    @*     <div>
    <NavMenu />
    </div> *@

    <nav class="top-row navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="hstack">
                <button title="Navigation menu" class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#side-menu" aria-controls="side-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="favicon.png" alt="Logo" height="30" class="d-inline-block align-text-top" />
                    WebTools
                </a>
            </div>
            <div class="px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        </div>
    </nav>

    <div class="bottom-row hstack full-height">
        <nav id="side-menu" class="full-height overflow-y-scroll collapse-horizontal navbar navbar-dark bg-dark text-bg-dark">
            <div class="nav flex-column full-height">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi-house-fill" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="wifiqr">
                        <span class="bi-wifi" aria-hidden="true"></span> WiFi QR
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="base32">
                        <span class="bi-spellcheck" aria-hidden="true"></span> Base32
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="base64">
                        <span class="bi-spellcheck" aria-hidden="true"></span> Base64
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="url">
                        <span class="bi-link-45deg" aria-hidden="true"></span> Url
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="qrcode">
                        <span class="bi-qr-code" aria-hidden="true"></span> QR-Code
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="jwt">
                        <span class="bi-braces-asterisk" aria-hidden="true"></span> JWT
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="regex">
                        <span class="bi-regex" aria-hidden="true"></span> Regex
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="totp">
                        <span class="bi-clock" aria-hidden="true"></span> Totp
                    </NavLink>
                </div>
            </div>
        </nav>

        <main class="flex-fill full-height overflow-y-scroll">
            <article class="content px-4">
                @Body
            </article>
        </main>

    </div>
</div>
