@inherits LayoutComponentBase

<div class="vstack full-height">
    @*     <div>
    <NavMenu />
    </div> *@

    <nav class="top-row navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="hstack">
                <button type="button" @onclick="OnToggleMenu" class="navbar-toggler mx-2">
                    @if (isSideMenuCollapsed)
                    {
                        <span class="bi-chevron-right"></span>
                    }
                    else
                    {
                        <span class="bi-chevron-left"></span>
                    }
                </button>
                <a class="navbar-brand" href="#">
                    <img src="favicon.png" alt="Logo" height="30" class="d-inline-block align-text-top" />
                    WebTools
                </a>
            </div>
            <div class="px-4">
                <a href="https://github.com/JanKotschenreuther/WebTools" target="_blank">About</a>
            </div>
        </div>
    </nav>

    <div class="bottom-row hstack full-height">
        <nav
            class="side-menu full-height @(isSideMenuCollapsed ? "collapsed" : "") overflow-y-scroll navbar navbar-dark bg-dark text-bg-dark">
            <div class="nav flex-column flex-nowrap full-height">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi-house-fill" aria-hidden="true"></span>
                        <span class="nav-item-title">Home</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="wifiqr">
                        <span class="bi-wifi" aria-hidden="true"></span>
                        <span class="nav-item-title">WiFi QR</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="base32">
                        <span class="bi-spellcheck" aria-hidden="true"></span>
                        <span class="nav-item-title">Base32</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="base64">
                        <span class="bi-spellcheck" aria-hidden="true"></span>
                        <span class="nav-item-title">Base64</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="url">
                        <span class="bi-link-45deg" aria-hidden="true"></span>
                        <span class="nav-item-title">Url</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="qrcode">
                        <span class="bi-qr-code" aria-hidden="true"></span>
                        <span class="nav-item-title">QR-Code</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="jwt">
                        <span class="bi-braces-asterisk" aria-hidden="true"></span>
                        <span class="nav-item-title">JWT</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="regex">
                        <span class="bi-regex" aria-hidden="true"></span>
                        <span class="nav-item-title">Regex</span>
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="totp">
                        <span class="bi-clock" aria-hidden="true"></span>
                        <span class="nav-item-title">Totp</span>
                    </NavLink>
                </div>
            </div>
        </nav>

        <main class="flex-fill full-height overflow-y-scroll">
            <article class="content px-4 py-2">
                @Body
            </article>
        </main>

    </div>
</div>

@code {
    private bool isSideMenuCollapsed = false;

    private void OnToggleMenu()
    {
        isSideMenuCollapsed = !isSideMenuCollapsed;
    }
}
