<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="favicon.png" alt="Logo" height="30" class="d-inline-block align-text-top" />
            WebTools
        </a>
        <button title="Navigation menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sideMenu" aria-controls="sideMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div id="sideMenu" class="collapse-horizontal navbar navbar-dark bg-dark text-bg-dark">
    <nav>
        <div class="nav flex-column justify-content-start">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi-house-fill" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="wifiqr">
                    <span class="bi-wifi" aria-hidden="true"></span> WiFi QR
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="base32">
                    <span class="bi-spellcheck" aria-hidden="true"></span> Base32
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="base64">
                    <span class="bi-spellcheck" aria-hidden="true"></span> Base64
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="url">
                    <span class="bi-link-45deg" aria-hidden="true"></span> Url
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="qrcode">
                    <span class="bi-qr-code" aria-hidden="true"></span> QR-Code
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="jwt">
                    <span class="bi-braces-asterisk" aria-hidden="true"></span> JWT
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="regex">
                    <span class="bi-regex" aria-hidden="true"></span> Regex
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="totp">
                    <span class="bi-clock" aria-hidden="true"></span> Totp
                </NavLink>
            </div>
        </div>
    </nav>
</div>
