/* _content/RazorClassLibrary/Components/ProgressCircle.razor.rz.scp.css */
div[progress-circle-container][b-utfavvpe28] {
    --size: 100px;
    position: relative;    
}

    div[progress-circle-container][b-utfavvpe28]::after {
        content: attr(progress-circle-text);
        position: absolute;
        top: 0;
        left: 0;
        height: var(--size);
        width: var(--size);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

svg[progress-circle][b-utfavvpe28] {
    width: var(--size);
    height: var(--size);
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

    svg[progress-circle] circle[b-utfavvpe28] {
        fill: transparent;
        stroke-width: 10%;
    }

        svg[progress-circle] circle:first-child[b-utfavvpe28] {
            stroke: lightgray;
        }

        svg[progress-circle] circle:last-child[b-utfavvpe28] {
            stroke: dodgerblue;
            stroke-dasharray: calc(var(--math-pi) * var(--progress-circle-value, 0%) * 0.8), 500%;
            transition: stroke-dasharray 1s linear;
        }
