@page "/base64"
@using System.Text;

<PageTitle>Base64</PageTitle>
<h3>Base64</h3>

<div>
    <div class="form-group">
        <label>Clear Text</label>
        <InputTextArea @bind-Value="_clearText" class="form-control" placeholder="Clear Text" rows="10"></InputTextArea>
    </div>
    <div class="form-group">
        <label>Base64 Encoded Text</label>
        <InputTextArea @bind-Value="_base64" class="form-control" placeholder="Base64 Encoded Text" rows="10"></InputTextArea>
    </div>
    <div class="row">
        <div class="col-auto my-1">
            <button @onclick="Encode" class="btn btn-primary">Encode</button>
        </div>
        <div class="col-auto my-1">
            <button @onclick="Decode" class="btn btn-primary">Decode</button>
        </div>
        <div class="form-group col-auto my-1">
            @*<label>Encoding</label>*@
            <InputSelect @bind-Value="_selectedEncodingCodePage" class="form-control">
                @foreach (var encoding in _encodings)
                {
                    <option value="@encoding.CodePage">@encoding.WebName</option>
                }
            </InputSelect>
        </div>
    </div>
</div>

@code {
    private string _clearText = String.Empty;
    private string _base64 = String.Empty;
    private Encoding[] _encodings = Encoding.GetEncodings().Select(x => x.GetEncoding()).ToArray();
    private int _selectedEncodingCodePage = Encoding.UTF8.CodePage;

    public void Encode()
    {
        var selectedEncoding = Encoding.GetEncoding(this._selectedEncodingCodePage);
        var clearTextBytes = selectedEncoding.GetBytes(this._clearText);
        this._base64 = Convert.ToBase64String(clearTextBytes);
    }

    public void Decode()
    {
        var base64 = this._base64;
        while (base64.Length % 4 != 0)
        {
            base64 += "=";
        }

        var base64Bytes = Convert.FromBase64String(base64);
        var selectedEncoding = Encoding.GetEncoding(this._selectedEncodingCodePage);
        this._clearText = selectedEncoding.GetString(base64Bytes);
    }
}
