@page "/url"
@using System.Text
@using System.Web

<h3>Url</h3>
<div>
    <input @bind="_decodedUrl" placeholder="clear text" />
    <input @bind="_encodedUrl" placeholder="base64" />
    <button @onclick="Encode">Encode</button>
    <button @onclick="Decode">Decode</button>
    <select @bind="_selectedEncodingCodePage">
        @foreach (var encoding in _encodings)
        {
            <option value="@encoding.CodePage">@encoding.WebName</option>
        }
    </select>
</div>

@code {
    private string _decodedUrl = String.Empty;
    private string _encodedUrl = String.Empty;
    private Encoding[] _encodings = Encoding.GetEncodings().Select(x => x.GetEncoding()).ToArray();
    private int _selectedEncodingCodePage = Encoding.UTF8.CodePage;

    public void Encode()
    {
        var selectedEncoding = Encoding.GetEncoding(this._selectedEncodingCodePage);
        this._encodedUrl = HttpUtility.UrlEncode(this._decodedUrl, selectedEncoding) ?? String.Empty;
    }

    public void Decode()
    {
        var selectedEncoding = Encoding.GetEncoding(this._selectedEncodingCodePage);
        this._decodedUrl = HttpUtility.UrlDecode(this._encodedUrl, selectedEncoding) ?? String.Empty;
    }
}
