@page "/url"
@using System.Text;
@using System.Web;

<PageTitle>Url</PageTitle>
<h3>Url</h3>
<hr/>

<div>
    <div class="row">
        <div class="form-group col-auto my-1">
            <label class="fw-bold">Options</label>
            <InputSelect @bind-Value="_selectedEncodingCodePage" class="form-control">
                @foreach (var encoding in _encodings)
                {
                    <option value="@encoding.CodePage">@encoding.WebName</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-group">
        <label class="fw-bold">Decoded Url</label>
        <InputTextArea @bind-Value="_decodedUrl" class="form-control" placeholder="Decoded Url" rows="10"></InputTextArea>
    </div>
    <div class="row">
        <div class="col-auto my-1">
            <button @onclick="Encode" class="btn btn-primary">Encode</button>
        </div>
        <div class="form-check col my-1">
            <label class="form-check-label">Use +</label>
            <InputCheckbox @bind-Value="_usePlus" class="form-check-input"></InputCheckbox>
        </div>
    </div>
    <div class="form-group">
        <label class="fw-bold">Encoded Url</label>
        <InputTextArea @bind-Value="_encodedUrl" class="form-control" placeholder="Encoded Url" rows="10"></InputTextArea>
    </div>
    <div class="row">
        <div class="col-auto my-1">
            <button @onclick="Decode" class="btn btn-primary">Decode</button>
        </div>
    </div>
</div>

@code {
    private string _decodedUrl = String.Empty;
    private string _encodedUrl = String.Empty;
    private Encoding[] _encodings = Encoding.GetEncodings().Select(x => x.GetEncoding()).ToArray();
    private int _selectedEncodingCodePage = Encoding.UTF8.CodePage;
    private bool _usePlus = false;

    public void Encode()
    {
        var selectedEncoding = Encoding.GetEncoding(this._selectedEncodingCodePage);
        var encodedUrl = HttpUtility.UrlEncode(this._decodedUrl, selectedEncoding) ?? String.Empty;
        this._encodedUrl = this._usePlus ? encodedUrl : encodedUrl.Replace("+", "%20");
    }

    public void Decode()
    {
        var selectedEncoding = Encoding.GetEncoding(this._selectedEncodingCodePage);
        this._decodedUrl = HttpUtility.UrlDecode(this._encodedUrl, selectedEncoding) ?? String.Empty;
    }
}
